@import url(./style-null.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.block-lock {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  font-family: Poppins, serif;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding-left: 133px;
  padding-right: 133px;
}
@media (max-width: 1440px) {
  .header-content {
    height: calc(80px + 70 * ((100vw - 320px) / (1440 - 320)));
  }
}
@media (max-width: 1440px) {
  .header-content {
    padding-left: calc(30px + 103 * ((100vw - 320px) / (1440 - 320)));
  }
}
@media (max-width: 1440px) {
  .header-content {
    padding-right: calc(30px + 103 * ((100vw - 320px) / (1440 - 320)));
  }
}

.header-content__logo {
  color: #002265;
  position: relative;
  z-index: 10;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}
.header-content__logo span {
  color: #14279b;
  font-weight: 400;
}

.header-content__logo:hover {
  text-shadow: 0px 0px 15px #002265;
}

.header-content__menu {
  display: flex;
  align-items: center;
  margin-left: 390px;
}
@media (max-width: 1440px) {
  .header-content__menu {
    margin-left: calc(10px + 380 * ((100vw - 768px) / (1440 - 768)));
  }
}
@media (max-width: 768px) {
  .header-content__menu {
    margin-left: 10px;
  }
}

.header-content__links {
  display: flex;
  justify-content: space-between;
  width: 434px;
  margin-right: 45px;
}
@media (max-width: 1440px) {
  .header-content__links {
    width: calc(300px + 134 * ((100vw - 768px) / (1440 - 768)));
  }
}
@media (max-width: 768px) {
  .header-content__links {
    width: 300px;
  }
}
@media (max-width: 1440px) {
  .header-content__links {
    margin-right: calc(30px + 15 * ((100vw - 768px) / (1440 - 768)));
  }
}
@media (max-width: 768px) {
  .header-content__links {
    margin-right: 30px;
  }
}

.header-content__link {
  color: #212121;
  font-size: 25px;
  font-weight: 400;
  cursor: pointer;
}
@media (max-width: 1440px) {
  .header-content__link {
    font-size: calc(20px + 5 * ((100vw - 768px) / (1440 - 768)));
  }
}
@media (max-width: 768px) {
  .header-content__link {
    font-size: 20px;
  }
}

.header-content__link:hover {
  text-decoration: underline;
}

.header-content__button {
  height: 58px;
  width: 196px;
  line-height: 58px;
  font-size: 25px;
  min-height: 40px;
  font-weight: 600;
  color: white;
  padding: 0 18px;
  border-radius: 10px;
  background-color: #608af5;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 1440px) {
  .header-content__button {
    height: calc(40px + 18 * ((100vw - 768px) / (1440 - 768)));
  }
}
@media (max-width: 768px) {
  .header-content__button {
    height: 40px;
  }
}
@media (max-width: 1440px) {
  .header-content__button {
    width: calc(140px + 56 * ((100vw - 768px) / (1440 - 768)));
  }
}
@media (max-width: 768px) {
  .header-content__button {
    width: 140px;
  }
}
@media (max-width: 1440px) {
  .header-content__button {
    line-height: calc(40px + 18 * ((100vw - 768px) / (1440 - 768)));
  }
}
@media (max-width: 768px) {
  .header-content__button {
    line-height: 40px;
  }
}
@media (max-width: 1440px) {
  .header-content__button {
    font-size: calc(16px + 9 * ((100vw - 768px) / (1440 - 768)));
  }
}
@media (max-width: 768px) {
  .header-content__button {
    font-size: 16px;
  }
}

.menu-burger {
  display: block;
}

@media (max-width: 768px) {
  .header-content__logo::before {
    content: "";
    display: inline-block;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: white;
    height: 150px;
    width: 768px;
  }
}
@media (max-width: 768px) and (max-width: 1440px) {
  .header-content__logo::before {
    height: calc(80px + 70 * ((100vw - 320px) / (1440 - 320)));
  }
}
@media (max-width: 768px) and (max-width: 1440px) {
  .header-content__logo::before {
    width: calc(320px + 448 * ((100vw - 320px) / (1440 - 320)));
  }
}
@media (max-width: 768px) {
  .menu-burger {
    display: block;
    height: 40px;
    width: 60px;
    position: relative;
    z-index: 10;
  }
}
@media (max-width: 768px) and (max-width: 1440px) {
  .menu-burger {
    height: calc(25px + 15 * ((100vw - 320px) / (1440 - 320)));
  }
}
@media (max-width: 768px) and (max-width: 1440px) {
  .menu-burger {
    width: calc(36px + 24 * ((100vw - 320px) / (1440 - 320)));
  }
}
@media (max-width: 768px) {
  .menu-burger::after, .menu-burger::before,
  .menu-burger span {
    height: 3px;
    width: 100%;
    background-color: black;
    position: absolute;
    transition: all 0s ease 0s;
  }
  .menu-burger::after, .menu-burger::before {
    content: "";
    display: inline-block;
  }
  .menu-burger span {
    top: 50%;
    transform: translate(0, -50%);
  }
  .menu-burger::after {
    bottom: 0;
  }
  .menu-burger::before {
    top: 0;
  }
  .menu-burger_active {
    transition: all 0.3s ease 0s;
  }
  .menu-burger_active span {
    width: 0;
  }
  .menu-burger_active::after {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .menu-burger_active::before {
    top: 0;
  }
  .header-content__menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
    padding-top: 150px;
    background-color: white;
  }
}
@media (max-width: 768px) and (max-width: 1440px) {
  .header-content__menu {
    padding-top: calc(80px + 70 * ((100vw - 320px) / (1440 - 320)));
  }
}
@media (max-width: 768px) {
  .header-content__links {
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
    margin-bottom: auto;
  }
  .header-content__links .header-content__link {
    font-size: 44px;
    min-height: 150px;
    line-height: 150px;
    width: 100%;
    text-align: center;
    text-decoration: none;
  }
}
@media (max-width: 768px) and (max-width: 1440px) {
  .header-content__links .header-content__link {
    font-size: calc(30px + 14 * ((100vw - 320px) / (1440 - 320)));
  }
}
@media (max-width: 768px) and (max-width: 1440px) {
  .header-content__links .header-content__link {
    min-height: calc(100px + 50 * ((100vw - 320px) / (1440 - 320)));
  }
}
@media (max-width: 768px) and (max-width: 1440px) {
  .header-content__links .header-content__link {
    line-height: calc(100px + 50 * ((100vw - 320px) / (1440 - 320)));
  }
}
@media (max-width: 768px) {
  .header-content__button {
    font-size: 44px;
    min-height: 150px;
    line-height: 150px;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 768px) and (max-width: 1440px) {
  .header-content__button {
    font-size: calc(30px + 14 * ((100vw - 320px) / (1440 - 320)));
  }
}
@media (max-width: 768px) and (max-width: 1440px) {
  .header-content__button {
    min-height: calc(100px + 50 * ((100vw - 320px) / (1440 - 320)));
  }
}
@media (max-width: 768px) and (max-width: 1440px) {
  .header-content__button {
    line-height: calc(100px + 50 * ((100vw - 320px) / (1440 - 320)));
  }
}
@media (max-width: 768px) {
  .header-content__menu_visibility {
    display: flex;
  }
}
.main-content {
  min-height: 100%;
  padding: 0 133px;
  padding-bottom: 330px;
}

.title-content {
  display: flex;
  align-items: center;
  margin-bottom: 118px;
}

.title-content__info {
  margin-right: 56px;
}

.title-content__title {
  color: #002265;
  font-size: 35px;
  line-height: 75px;
  font-weight: 400;
  margin-bottom: 32px;
}
.title-content__title span {
  font-size: 50px;
  font-weight: 600;
}

.title-content__text {
  color: #082032;
  font-size: 23px;
  line-height: 34px;
  font-weight: 400;
}

.title-content__img {
  max-width: 501px;
  width: 100%;
}

.passions-content {
  margin-bottom: 168px;
}

.contact-content__title,
.portfolio-content__title,
.passions-content__title {
  text-align: center;
  color: #14279b;
  font-weight: 400px;
  font-size: 35px;
  margin-bottom: 60px;
}
.contact-content__title span,
.portfolio-content__title span,
.passions-content__title span {
  font-weight: 600;
  color: #002265;
}

.passions-content__list {
  display: flex;
  justify-content: space-between;
}

.passions-content__item {
  width: 347px;
  height: 280px;
  border-radius: 13px;
  padding: 20px;
  box-shadow: 0px 5px 26px 5px rgba(0, 0, 0, 0.168627451);
  text-align: center;
}

.passions-content__item-img {
  margin-bottom: 18px;
}

.passions-content__item-name {
  font-weight: 400px;
  font-size: 25px;
  margin-bottom: 13px;
}
.passions-content__item-name span {
  font-weight: 600;
}

.passions-content__item-text {
  font-size: 18px;
  font-weight: 400;
}

.portfolio-content {
  margin-bottom: 168px;
  width: 100%;
}

.portfolio-content__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.portfolio-content__item img {
  width: 100%;
}

.contact-content__list {
  display: flex;
  justify-content: space-between;
}

.contact-content__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 236px;
  width: 240px;
}

.contact-content__item-background {
  width: 160px;
  height: 160px;
  position: relative;
}
.contact-content__item-background::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  height: 160px;
  width: 160px;
  background: url(../img/background-blue.png) left top/100% no-repeat;
}

.contact-content__item-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
}

.contact-content__item-name {
  color: #3f3d56;
  font-size: 35px;
  font-weight: 500;
}

.footer-content {
  height: 330px;
  margin-top: -330px;
}

.footer-content__img-body {
  position: relative;
  top: 55px;
  z-index: -1;
}

.footer-content__img {
  width: 100%;
}

.footer-content__text {
  font-size: 35px;
  font-weight: 400;
  color: white;
  text-align: center;
}/*# sourceMappingURL=style.css.map */