@import url(./style-null.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@mixin adap($prop, $s, $min, $max) {
    $r: $max - $min;
    @if $s == 1 {
        #{$prop}: $max + px;
        @media (max-width: 1440px) {
            #{$prop}: calc(#{$min + px} + #{$r} * ((100vw - 768px) / (1440 - 768)));
        }
        @media (max-width: 768px) {
            #{$prop}: $min + px;
        }
    }
    @else {
        #{$prop}: $max + px;
        @media (max-width: 1440px) {
            #{$prop}: calc(#{$min + px} + #{$r} * ((100vw - 320px) / (1440 - 320)));
        }
    }
}

.block-lock {
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    height: 100%;
    font-family: Poppins, serif;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adap("height", 2, 80, 150);
    @include adap("padding-left", 2, 30, 133);
    @include adap("padding-right", 2, 30, 133);
}
.header-content__logo {
    color: #002265;
    position: relative;
    z-index: 10;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    span {
        color: #14279b;
        font-weight: 400;
    }
}
.header-content__logo:hover {
    text-shadow: 0px 0px 15px #002265;
}
.header-content__menu {
    display: flex;
    align-items: center;
    @include adap("margin-left", 1, 10, 390);
}
.header-content__links {
    display: flex;
    justify-content: space-between;
    @include adap("width", 1, 300, 434);
    @include adap("margin-right", 1, 30, 45);
}
.header-content__link {
    color: #212121;
    @include adap("font-size", 1, 20, 25);
    font-weight: 400;
    cursor: pointer;
}
.header-content__link:hover {
    text-decoration: underline;
}
.header-content__button {
    @include adap("height", 1, 40, 58);
    @include adap("width", 1, 140, 196);
    @include adap("line-height", 1, 40, 58);
    @include adap("font-size", 1, 16, 25);
    min-height: 40px;
    font-weight: 600;
    color: white;
    padding: 0 18px;
    border-radius: 10px;
    background-color: #608af5;
    text-align: center;
    cursor: pointer;
}

.menu-burger {
    display: block;
}

@media (max-width: 768px) {
    .header-content__logo::before {
        content: "";
        display: inline-block;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        background-color: white;
        @include adap("height", 2, 80, 150);
        @include adap("width", 2, 320, 768);
    }
    .menu-burger {
        display: block;
        @include adap("height", 2, 25, 40);
        @include adap("width", 2, 36, 60);
        position: relative;
        z-index: 10;

        &::after,
        &::before,
        span {
            height: 3px;
            width: 100%;
            background-color: black;
            position: absolute;
            transition: all 0s ease 0s;
        }

        &::after,
        &::before {
            content: "";
            display: inline-block;
        }

        span {
            top: 50%;
            transform: translate(0, -50%);
        }

        &::after {
            bottom: 0;
        }

        &::before {
            top: 0;
        }
    }

    .menu-burger_active {
        transition: all 0.3s ease 0s;

        span {
            width: 0;
        }

        &::after {
            top: 50%;
            transform: rotate(-45deg) translate(0, -50%);
        }

        &::before {
            top: 0;
        }
    }

    .header-content__menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: auto;
        @include adap("padding-top", 2, 80, 150);
        background-color: white;
    }

    .header-content__links {
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
        margin-bottom: auto;


        .header-content__link {
            @include adap("font-size", 2, 30, 44);
            @include adap("min-height", 2, 100, 150);
            @include adap("line-height", 2, 100, 150);
            width: 100%;
            text-align: center;
            text-decoration: none;
        }
    }

    .header-content__button {
        @include adap("font-size", 2, 30, 44);
        @include adap("min-height", 2, 100, 150);
        @include adap("line-height", 2, 100, 150);
        width: 100%;
        text-align: center;
    }

    .header-content__menu_visibility {
        display: flex;
    }
}

.main-content {
    min-height: 100%;
    padding: 0 133px;
    padding-bottom: 330px;
}
.title-content {
    display: flex;
    align-items: center;
    margin-bottom: 118px;
}
.title-content__info {
    margin-right: 56px;
}
.title-content__title {
    color: #002265;
    font-size: 35px;
    line-height: 75px;
    font-weight: 400;
    span {
        font-size: 50px;
        font-weight: 600;
    }
    margin-bottom: 32px;
}
.title-content__text {
    color: #082032;
    font-size: 23px;
    line-height: 34px;
    font-weight: 400;
}
.title-content__img {
    max-width: 501px;
    width: 100%;
}
.passions-content {
    margin-bottom: 168px;
}
.contact-content__title,
.portfolio-content__title,
.passions-content__title {
    text-align: center;
    color: #14279b;
    font-weight: 400px;
    font-size: 35px;
    margin-bottom: 60px;

    span {
        font-weight: 600;
        color: #002265;
    }
}
.passions-content__list {
    display: flex;
    justify-content: space-between;
}
.passions-content__item {
    width: 347px;
    height: 280px;
    border-radius: 13px;
    padding: 20px;
    box-shadow: 0px 5px 26px 5px #0000002b;
    text-align: center;
}
.passions-content__item-img {
    margin-bottom: 18px;
}
.passions-content__item-name {
    font-weight: 400px;
    font-size: 25px;
    margin-bottom: 13px;
    span {
        font-weight: 600;
    }
}
.passions-content__item-text {
    font-size: 18px;
    font-weight: 400;
}

.portfolio-content {
    margin-bottom: 168px;
    width: 100%;
}
.portfolio-content__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.portfolio-content__item img {
    width: 100%;
}

.contact-content {
}
.contact-content__list {
    display: flex;
    justify-content: space-between;
}
.contact-content__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 236px;
    width: 240px;
}
.contact-content__item-background {
    width: 160px;
    height: 160px;
    position: relative;
    &::before {
        content: "";
        display: inline-block;
        position: relative;
        top: 0;
        left: 0;
        height: 160px;
        width: 160px;
        background: url(../img/background-blue.png) left top/100% no-repeat;
    }
}
.contact-content__item-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
}
.contact-content__item-name {
    color: #3f3d56;
    font-size: 35px;
    font-weight: 500;
}
.footer-content {
    height: 330px;
    margin-top: -330px;
}
.footer-content__img-body {
    position: relative;
    top: 55px;
    z-index: -1;
}
.footer-content__img {
    width: 100%;
}
.footer-content__text {
    font-size: 35px;
    font-weight: 400;
    color: white;
    text-align: center;
}
